body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.heading-container {
    display: flex;
    background-color: #1f2937;
    height: 72px;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    flex-shrink: 0;
}
.mid-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    padding-top: 45px;
    padding-bottom: 45px;
}

.left-mid{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mid-logo {
    width: 500px;
    height: 300px;
    padding: 16px;
}

.left-mid-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;

}

.left-mid-subtext{
    color: #e5e7eb;
    font-size: 18px;

}

button{
    background-color: #3882F8;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    align-self: flex-start;
    flex: 1;

}


.tile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.tiles {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 45px;
}

.photo-tiles{
    width: 200px;
    height: 150px;
    padding: 12px;
    border: 4px solid #3882F8;
    border-radius: 15px;
    padding: 0;
}

.tile-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.gym-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-sub {
    font-weight: bold;
    color: #1f2937;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 150px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.quote-sayer {
    display: flex;
    justify-content: right;
    font-size: 22px;
    font-weight: bold;
    margin-right: 350px;
    flex: auto;
}
.footer {
    display: flex;
    margin: 150px;
    background-color: #3882F8;
    border: 2px solid #3882F8;
    border-radius: 4px;
    justify-content:space-evenly;
    align-items: center;
    padding:0;
}

.footer-head{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.footer-sub{
    color: white;
    font-size: 16px;
    }

.left-footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 45px;


}

.right-footer{
    align-items: center;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12px;
}

