body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.heading-container {
    display: flex;
    background-color: #1f2937;
    height: 72px;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    flex-shrink: 0;
}
